{% extends 'myapp/base.html' %} {% block content %}

    <div class="d-flex flex-column aboutus justify-content-center align-items-center text-center">
        <h3>About Us</h3>
        <p>Welcome to BusTravel, your go-to platform for booking bus tickets conveniently online. At BusTravel, we strive to provide a seamless and hassle-free booking experience for our customers. Our mission is to revolutionize the way people travel by making bus ticket booking easier, faster, and more convenient. Whether you're planning a short commute or a long-distance journey, BusTravel has got you covered. We are committed to offering a wide range of bus routes, flexible booking options, and excellent customer service to ensure your travel needs are met with utmost satisfaction. With our user-friendly website and dedicated team, we aim to make your travel experience enjoyable and stress-free.</p>
        <img src="https://i.ibb.co/nmDRCRP/young-man-beach-by-sea-generative-ai.jpg"
            alt="young-man-beach-by-sea-generative-ai" class="img-fluid img-thumbnail">
    </div>
  
{% endblock %}