{% extends 'myapp/base.html' %} {% block content %}


<div class="container blog text-center mt-5">
    <h1>Department Name</h1>
    <p style="font-size: 1.4rem;" class="pt-3 pb-3">Welcome to the Department Page. Here you can find information about our department, our team, and our services.</p>

    <!-- Team Members -->
    <section>
        <h1>Our Team</h1>
        <div class="row mb-4 mt-4">
            <div class="col-md-6">
                <div class="card">
                    <!-- <img src="https://via.placeholder.com/300" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Balamurugan P M</h5>
                        <p class="card-text">Position: Project Manager</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <!-- <img src="https://via.placeholder.com/300" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <h5 class="card-title">Balamurugan P M</h5>
                        <p class="card-text">Position: Senior Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock %}